:root {
  --nv-primary-accent: #d7393e;
  --nv-secondary-accent: #ffb546;
  --nv-site-bg: #ffffff;
  --nv-light-bg: #ededed;
  --nv-dark-bg: #14171c;
  --nv-text-color: #1f2025;
  --nv-text-dark-bg: #ffffff;
  --nv-c-1: rgba(255, 182, 71, 0);
  --nv-c-2: rgba(30, 31, 36, 0);
  --nv-fallback-ff: "Poppins", sans-serif;
}

body {
  font-family: var(--nv-fallback-ff);
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 23px;
}

.site-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80px;
}

.site-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 180px;
  padding: 0px 10px;
}

.site-name p {
  font-size: 24px;
  font-weight: 700;
}

.site-name img {
  height: 40px;
  width: 75px;
}

.site-navbar a {
  color: var(--nv-text-color);
  text-decoration: none;
  font-size: 16px;
  margin-right: 25px;
  font-weight: 600;
}

.site-header a .active {
  color: var(--nv-primary-accent);
}

.site-navbar a,
.site-navbar a:after,
.site-navbar a:before {
  transition: all 0.5s;
}

.site-navbar a {
  position: relative;
}

.site-navbar a:hover {
  color: var(--nv-secondary-accent);
}

.site-navbar a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--nv-secondary-accent);
  height: 2px;
}

.site-navbar a:hover:after {
  width: 100%;
}

.hero-section {
  display: flex;
  align-items: center;
  background-image: url("/img/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 660px;
}

.hero-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 380px;
  width: 640px;
  margin: auto;
}

.hero-section h2 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin: 0;
}

.hero-section p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}

.hero-btn {
  font-size: 15px;
  background-color: var(--nv-secondary-accent);
  font-family: var(--nv-fallback-ff);
  color: black;
  width: max-content;
  height: auto;
  padding: 20px;
  border: none;
  font-weight: bold;
  margin-top: 30px;
}

.hero-btn:hover {
  color: white;
  background-color: var(--nv-primary-accent);
}

.hero-section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 745px;
}

.hero-btn1 {
  font-size: 15px;
  background-color: var(--nv-primary-accent);
  font-family: var(--nv-fallback-ff);
  color: white;
  width: max-content;
  height: auto;
  padding: 20px;
  border: none;
  font-weight: bold;
}

.hero-content2 {
  height: 380px;
  width: 585px;
  padding: 20px;
}

.section-overline {
  color: var(--nv-primary-accent);
  font-weight: bold;
  font-size: 14px;
}

.hero-content2 p {
  font-size: 16px;
}

.hero-btn1:hover {
  color: black;
  background-color: var(--nv-secondary-accent);
}

.hero-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 620px;
  background-color: var(--nv-primary-accent);
  color: white;
}

.hero-section3 h2 {
  padding: 15px 0px 40px 0px;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 50px;
}

.benefit:last-child {
  padding: 0px;
}

.benefit span {
  padding-bottom: 0px 20px;
}

.hero-section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 645px;
}

.hero-section4 h2 {
  padding: 15px 0px 40px 0px;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.testimonial p {
  text-align: center;
}

.hero-section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 870px;
  background-color: var(--nv-dark-bg);
  color: white;
}

.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.hero-section5 h2 {
  padding: 15px 0px 40px 0px;
}

.hero-section6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.hero-section6 span i {
  padding-right: 10px;
}

.hero-section6 span i:last-child {
  padding-right: 0px;
}

.hero-section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 480px;
  background-image: url("/img/background-image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section7 > .hero-content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 300px;
  background-color: var(--nv-light-bg);
  padding: 20px;
}

footer {
  height: 50px;
  width: 100%;
  color: var(--nv-text-dark-bg);
  background-color: var(--nv-dark-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--nv-text-dark-bg);
  padding-left: 30px;
}

.hero-section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.hero-section8-gallery > img {
  height: 390px;
  width: 390px;
  padding: 20px;
}

.hero-section9 {
  background-color: #d7393e;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.hero-section9-content-box {
  height: 210px;
  width: 365px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section10 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.hero-section10-content-box {
  height: 510px;
  width: 585px;
  padding: 20px;
}

.hero-section10-content-box1 {
  padding: 20px;
}
